@model ProjetoTccDoacaoDeSangue.Models.Cliente

@{
    ViewBag.Title = "Detalhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhe</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SangueID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SangueID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doador)
        </dd>

    </dl>
</div>

    <div class="col-2">
        <a href="@Url.Action("Index","Cliente")" class="btn btn-info"> Voltar</a>
    </div>
</div>

